# OpenWEC - Enviroment Configuration

# Database configuration
DB_CONFIG = {
    "host":     "127.0.0.1",
    "port":     5433,
    "dbname":   "openwec",
    "user":     "username",
    "password": "password",
}

# API configuration
# Leave empty in development, but in production you should set a strong API key for the administrator.
API_KEYS=OWEC-YorAP1KEY  


# Notes 
# Production: set DB_PASSWORD to a strong password 
# Docker Compose interpolates $ as variable prefix, so if you want to use a $ in your password, you need to escape it with another $ (e.g. $$).